<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="76302ae4-1c12-4232-82fb-62876d56f702" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-06T01:34:12" updateDate="2018-02-06T01:35:17" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1052" creatorName="andreaslydemann" writerName="andreaslydemann" writerID="0" template="1054" nodeTypeAlias="home" isPublished="true" />
</root>